<html>
    <head>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="icon" type="image/png" href="/favicon.png">
        <title>GROUP {{group}}</title>
    </head>

    <!-- HTML -->
    <body>
        <img src={{image}}>
        <div>{{access_token}}</div>
    </body>
</html>