body, html {
    height: 100%;
    margin: 0;
    font-family: "Helvetica";
    color: #777;
}

.bg { 
    background-image: url("/images/banner.jpg");

    height: 100%; 
    position: relative;
    opacity: 0.7;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    position: absolute;
    left: 0;
    top: 46%;
    width: 100%;
    padding: 20px 0;
    font-size: 25px;
    letter-spacing: 7px;
    text-align: center;
    border-radius: 0;
}